---
---
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Impressum</title>
  <link rel="icon" type="image/png" href="img/slyfoxfavicon.png">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% include header.html %}

  <div class="container">
    <div class="hero-section">
      <img src="img/404.png" alt="404" class="404-banner">
      <p class="hero-tagline">It seems the fox cub is lost.
      </p>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>